<li>
	{{burger_name}}
	
	<button class="change-eaten" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured}}Eat the burger!{{else}}Make a new one{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Bye bye burger!</button>
	
</li>
